header{
margin: 0 auto;
padding-top: 34px;
padding-left: 69px;
padding-bottom: 106px;
}
.logo{
display: inline-block;
vertical-align: middle;
margin-right: 512px;
}
nav{
    display: inline-block;
    padding-right: 117px;
}
.active{
    color: #FA1A35;
}
li{
    margin-right: 83px;
    display: inline-block;
    font-size: 32px;
    font-family: 'Nerko One';
}
li a{
    color: #0F5009;
}
section{
    background-color:#1F6519 ;
    margin: 0 auto;
}
.photo1{
  padding-top: 110px ;
  padding-left: 69px;
  padding-bottom: 154px;
  display: inline-block;
  margin-right: 96px;
  vertical-align: middle;
}
div{
    display: inline-block;
    width: 468px;
    padding-top: 110px;
    padding-bottom: 154px;
    padding-right: 61px;
    vertical-align: middle;
   
}
p{
    font-family: 'PT Serif'; 
    font-size: 32px;
    color: #ffff;
    padding-bottom: 154px;
}
h1{
    font-family: 'Nerko One';
    font-size: 36px;
    color: #ffff;
    text-align: center;
    margin-bottom: 35px;
}
article{
    text-align: center;
}
.text1{
    font-family: 'PT Serif';
    font-size: 40px;
    color:#0F5009 ;
    padding-top: 92px;
}
.text2{
    font-family: 'PT Serif';
    font-size: 36px;
    color: #1F6519;
    text-align: center;
    padding: 92px 216px 137px 207px;
}
footer{
    background-color: #1F6519;
    margin: 0 auto;
   
}
.logo1{
    margin: 74px 617px 73px 109px;
    
}
.text3{
    font-family: 'Nerko One';
    font-size:24px ;
    padding-left: 109px;
    padding-right: 118px;
    vertical-align: middle;
    display: inline-block;
}